<template>
    <div>
        <vx-card title="Add voucher" code-toggler>
            <div class="mt-5">
                <form-wizard color="rgba(var(--vs-primary), 1)" :title="null" :subtitle="null" finishButtonText="Submit" @on-complete="formSubmitted">
                    <tab-content title="Step 1" class="mb-5">

                        <!-- tab 1 content -->
                        <div class="vx-row">
                            <div class="vx-col md:w-1/2 w-full mt-5">
                                <vs-input label="Discount Code" placeholder="Search" v-model="firstName" class="w-full" />
                            </div>
                            <div class="vx-col md:w-1/2 w-full mt-5">
                                <vs-input label="Euro" placeholder="euro" v-model="firstName" class="w-full" />
                            </div>
                            <div class="vx-col md:w-1/2 w-full mt-5">
                                <vs-input label="Percentage" placeholder="" v-model="firstName" class="w-full" />
                            </div>
                            <div class="vx-col md:w-1/2 w-full mt-5">
                                <vs-input label="How many times it will used" placeholder="e.g 3" v-model="firstName" class="w-full" />
                            </div>
                            <div class="vx-col md:w-1/2 w-full mt-5">
                                <li>
                                    <vs-checkbox v-model="checkBox1">Code can be use same user?</vs-checkbox>
                                </li>
                            </div>

                        </div>
                    </tab-content>
                    <!-- tab 3 content -->
                    <br>
                    <vs-button class="mr-3 mb-2">Submit</vs-button>
                    <vs-button color="warning" type="border" class="mb-2" @click="input1 = input2 = input3 = input4 = input4 = ''; check1 = false;">Reset</vs-button>
                </form-wizard>
            </div>
        </vx-card>
        <br>
        <vx-card title="All Vouchers" code-toggler>
            <vs-table :data="users">

                <template slot="thead">
                    <vs-th>Sr #</vs-th>
                    <vs-th>Dicount Code</vs-th>
                    <vs-th>Euro</vs-th>
                    <vs-th>Percent</vs-th>
                    <vs-th>How Many Times it will use</vs-th>
                    <vs-th>Code can be use same user</vs-th>
                    <vs-th>Status</vs-th>
                    <vs-th>Operation</vs-th>

                </template>

                <template slot-scope="{data}">
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                        <vs-td :data="data[indextr].email">
                            {{data[indextr].email}}
                        </vs-td>
                        <vs-td :data="data[indextr].username">
                            {{data[indextr].name}}
                        </vs-td>
                        <vs-td :data="data[indextr].id">
                            {{data[indextr].website}}
                        </vs-td>
                        <vs-td :data="data[indextr].id">
                            {{data[indextr].id}}
                        </vs-td>
                    </vs-tr>
                </template>
            </vs-table>
        </vx-card>
    </div>
</template>

<script>
export default {
    name: "voucher"
}
</script>

<style scoped>

</style>
