<template>
    <div>
        <vx-card title="Add Payment Methods" code-toggler>
            <div class="mt-5">
                <form-wizard color="rgba(var(--vs-primary), 1)" :title="null" :subtitle="null" finishButtonText="Submit" @on-complete="formSubmitted">
                    <tab-content title="Step 1" class="mb-5">

                        <!-- tab 1 content -->
                        <div class="vx-row">
                            <div class="vx-col md:w-1/2 w-full mt-5">
                                <vs-input label="Method Name" placeholder="Category" v-model="firstName" class="w-full" />
                            </div>
                            <div class="vx-col md:w-1/2 w-full mt-5">
                                <div class="custom-file b-form-file" data-v-6b5c6a5e="" id="__BVID__2639__BV_file_outer_"><input type="file" class="custom-file-input" id="__BVID__2639" style="z-index: -5;"><label data-browse="Browse" class="custom-file-label" for="__BVID__2639"><span class="d-block form-file-text" style="pointer-events: none;">Choose a file or drop it here...</span></label></div>
                            </div>
                            <div class="vx-col md:w-1/2 w-full mt-5">
                                <vs-select v-model="city" class="w-full select-large" label="Status">
                                    <vs-select-item :key="index" :value="item.value" :text="item.file" v-for="(item,index) in cityOptions" class="w-full" />
                                </vs-select>
                            </div>
                        </div>
                    </tab-content>
                    <!-- tab 3 content -->
                    <br>
                    <vs-button class="mr-3 mb-2">Submit</vs-button>
                    <vs-button color="warning" type="border" class="mb-2" @click="input1 = input2 = input3 = input4 = input4 = ''; check1 = false;">Reset</vs-button>
                </form-wizard>
            </div>
        </vx-card>
        <br>
        <vx-card title="All Payment Methods" code-toggler>
            <vs-table :data="users">

                <template slot="thead">
                    <vs-th>Category Name</vs-th>
                    <vs-th>Status</vs-th>
                    <vs-th>Image</vs-th>
                    <vs-th>Operation</vs-th>
                </template>

                <template slot-scope="{data}">
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                        <vs-td :data="data[indextr].email">
                            {{data[indextr].email}}
                        </vs-td>
                        <vs-td :data="data[indextr].username">
                            {{data[indextr].name}}
                        </vs-td>
                        <vs-td :data="data[indextr].id">
                            {{data[indextr].website}}
                        </vs-td>
                        <vs-td :data="data[indextr].id">
                            {{data[indextr].id}}
                        </vs-td>
                    </vs-tr>
                </template>
            </vs-table>
        </vx-card>
    </div>
</template>

<script>
import Input from "../../forms/form-elements/input/Input";
export default {
name: "payment_method",
    components: {Input}
}
</script>

<style scoped>

</style>
