<template>
<div>
    <vx-card title="All Categories" code-toggler>
        <vs-table :data="users">

            <template slot="thead">
                <vs-th>Category Name</vs-th>
                <vs-th>Status</vs-th>
                <vs-th>Image</vs-th>
                <vs-th>Operation</vs-th>
            </template>

            <template slot-scope="{data}">
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                    <vs-td :data="data[indextr].email">
                        {{data[indextr].email}}
                    </vs-td>
                    <vs-td :data="data[indextr].username">
                        {{data[indextr].name}}
                    </vs-td>
                    <vs-td :data="data[indextr].id">
                        {{data[indextr].website}}
                    </vs-td>
                    <vs-td :data="data[indextr].id">
                        {{data[indextr].id}}
                    </vs-td>
                </vs-tr>
            </template>
        </vs-table>
    </vx-card>
</div>
</template>

<script>
export default {
name: "taxes"
}
</script>

<style scoped>

</style>
