<template>
    <div>
    <div id="">
    <vx-card title="Add Levels" code-toggler>
        <div class="mt-5">
            <form method="post" @submit.prevent="submit">
                <tab-content title="Step 1" class="mb-5">

                    <!-- tab 1 content -->
                    <div class="vx-row">
                        <div class="vx-col md:w-1/2 w-full mt-5">
                            <vs-input label="Level Name" placeholder="Category" v-model.trim="levels.level_name" class="w-full" />
                            <p>level_name:{{level_name}}</p>
                        </div>
                    </div>
                    <div class="vx-row">
                        <div class="vx-col md:w-1/2 w-full mt-5">
                            <vs-input label="Points" placeholder="Enter Points Name" v-model="levels.points" class="w-full" />
                            <p>points:{{points}}</p>
                        </div>
                    </div>
                </tab-content>
                <!-- tab 3 content -->
                <br>
                <vs-button class="mr-3 mb-2" @click="submitForm()">Submit</vs-button>
                <vs-button color="warning" type="border" class="mb-2" @click="input1 = input2 = input3 = input4 = input4 = ''; check1 = false;">Reset</vs-button>
            </form>
        </div>
    </vx-card>
    </div >
      <br>
        <vx-card title="All Voucher" code-toggler>
            <vs-table :data="users">

                <template slot="thead">
                    <vs-th>Levels</vs-th>
                    <vs-th>Points</vs-th>
                    <vs-th>Action</vs-th>

                </template>

<!--                <template slot-scope="{data}">-->
<!--                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">-->
<!--                        <vs-td :data="data[indextr].email">-->
<!--                            {{data[indextr].email}}-->
<!--                        </vs-td>-->
<!--                        <vs-td :data="data[indextr].username">-->
<!--                            {{data[indextr].name}}-->
<!--                        </vs-td>-->
<!--                        <vs-td :data="data[indextr].id">-->
<!--                            {{data[indextr].website}}-->
<!--                        </vs-td>-->
<!--                        <vs-td :data="data[indextr].id">-->
<!--                            {{data[indextr].id}}-->
<!--                        </vs-td>-->
<!--                    </vs-tr>-->
<!--                </template>-->
            </vs-table>
        </vx-card>
    </div>
</template>

<script>
export default {
    name: "levels",
    data() {
        return {
            levels: {},

        }
    },

    methods: {
        submit(){
          axios.post('/https://softsuitetechnologies.com/DEMO/loot4games_Admin/public/api/save_levels',this.levels).then(response=>{
              this.levels = {};
          }).catch(error=>{
              console.log('Error');
          });

        },
        submitForm() {
            console.log('get value');
            console.log(this.points);
            console.log(this.level_name);
        }
    },


}
</script>

<style scoped>

</style>
