<template>
    <div>
        <vx-card title="Add User" code-toggler>
            <div class="mt-5">
                <form finishButtonText="Submit" @on-complete="formSubmitted">
                    <tab-content title="Step 1" class="mb-5">

                        <!-- tab 1 content -->
                        <div class="vx-row">
                            <div class="vx-col md:w-1/2 w-full mt-5">
                                <vs-input label="Title" placeholder="Title" v-model="title" class="w-full" />
                                <p>title:{{title}}</p>
                            </div>
                            <div class="vx-col md:w-1/2 w-full mt-5">
                                <vs-input type="file" label="Image" v-model="iamge" @change="imageChanged" class="w-full" />
                            </div>
                            <div class="vx-col md:w-1/2 w-full mt-5">
                                <div class="vx-col w-full">
                                    <vs-textarea label="Description" v-model="description" class="w-full" />
                                </div>
                            </div>
                        </div>
                    </tab-content>
                    <!-- tab 3 content -->
                    <br>
                    <vs-button class="mr-3 mb-2" @click="submitForm()">Submit</vs-button>
                    <vs-button color="warning" type="border" class="mb-2" @click="input1 = input2 = input3 = input4 = input4 = ''; check1 = false;">Reset</vs-button>
                </form>
            </div>
        </vx-card>
        <br>
        <vx-card title="All Images" code-toggler>
            <vs-table :data="users">

                <template slot="thead">
                    <vs-th>Sr#</vs-th>
                    <vs-th>Title</vs-th>
                    <vs-th>Description</vs-th>
                    <vs-th>Image</vs-th>
                    <vs-th>Operation</vs-th>
                </template>

                <template slot-scope="{data}">
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                        <vs-td :data="data[indextr].email">
                            {{data[indextr].email}}
                        </vs-td>
                        <vs-td :data="data[indextr].username">
                            {{data[indextr].name}}
                        </vs-td>
                        <vs-td :data="data[indextr].id">
                            {{data[indextr].website}}
                        </vs-td>
                        <vs-td :data="data[indextr].id">
                            {{data[indextr].id}}
                        </vs-td>
                    </vs-tr>
                </template>
            </vs-table>
        </vx-card>
    </div>
</template>

<script>
export default {
name: "image",
    data(){
    return{
        title:'',
        description:'',
        image: null,
    }
    },
    methods: {
        onPickFile () {
            this.$refs.fileInput.click()
        },
        onFilePicked (event) {
            const files = event.target.files
            let filename = files[0].name
            const fileReader = new FileReader()
            fileReader.addEventListener('load', () => {
                this.imageUrl = fileReader.result
            })
            fileReader.readAsDataURL(files[0])
            this.image = files[0]
        },
        submitForm() {
            console.log('get value');
            console.log(this.title);
            console.log(this.featured);
            console.log(this.description);
        }
    },
}
</script>

<style scoped>

</style>
