<template>
    <div class="vx-row">
        <div class="vx-col md:w-8/12 w-full mt-12">
            <vx-card  class="mt-5" title="Add a Product" code-toggler>
                <div class="mt-5">
                    <form-wizard color="rgba(var(--vs-primary), 1)" :title="null" :subtitle="null" finishButtonText="Submit" @on-complete="formSubmitted">
                        <tab-content title="Step 1" class="mb-5">
                            <!-- tab 1 content -->
                            <div class="vx-row">
                                <div class="vx-col  w-full ">
                                    <vs-input label="Title" placeholder="Enter Title" v-model="firstName" class="w-full" />
                                </div>
                            </div>
                            <br>
                            <div class="vx-row">
                                <div class="vx-col  w-full ">
                                    <vs-textarea label="Description" height="150px" width="300px" v-model="firstName" class="w-full" />
                                </div>
                            </div>
                            <div class="vx-row">
                                <div class="vx-col  w-full ">
                                    <vs-textarea label="Short Description"  v-model="firstName" class="w-full" />
                                </div>
                            </div>
                        </tab-content>
                        <!-- tab 3 content -->
                    </form-wizard>
                </div>
            </vx-card>
        </div>
        <br>
        <div class="vx-col md:w-1/3 w-full mt-4">
            <vx-card  class="mt-5" title="Others" code-toggler>
                <tab-content title="Step 1" class="mb-5">
                    <!-- tab 1 content -->
                    <div class="vx-row">
                        <div class="vx-col w-full">
                        <vs-select v-model="city" class="w-full select-large" label="Status">
                            <vs-select-item placeholder="Select Status" :key="index" :value="item.value" :text="item.text" v-for="(item,index) in cityOptions" class="w-full" />
                        </vs-select>
                        </div>
                    </div>
                    <div class="vx-row">
                        <div class="vx-col w-full">
                            <vs-input label="Media" placeholder="Image Url" v-model="firstName" class="w-full" />
                        </div>
                    </div>
                    <div class="vx-row">
                        <div class="vx-col w-full">
                        <vs-select v-model="city" class="w-full select-large" label="Categories">
                            <vs-select-item placeholder="Select categories" :key="index" :value="item.value" :text="item.text" v-for="(item,index) in cityOptions" class="w-full" />
                        </vs-select>
                    </div>
                    </div>
                    <div class="vx-col w-full mt-5">
                        <li aria-label="Payment Method">
                            <vs-checkbox v-model="checkBox1"></vs-checkbox>
                        </li>
                    </div>
                    <div class="vx-col w-full mt-5">
                        <li >
                            <vs-checkbox v-model="checkBox1"></vs-checkbox>
                        </li>
                    </div>
                </tab-content>
            </vx-card>
        </div>
    <br>
        <div class="vx-col md:w-8/12 w-full mt-12">
            <vx-card  class="mt-5" title="Meta text" code-toggler>
                <div class="mt-5">
                    <form-wizard color="rgba(var(--vs-primary), 1)" :title="null" :subtitle="null" finishButtonText="Submit" @on-complete="formSubmitted">
                        <tab-content title="Step 1" class="mb-5">

                            <!-- tab 1 content -->
                            <div class="vx-row">
                                <div class="vx-col  w-full ">
                                    <vs-input  placeholder="Seo Tittle" v-model="firstName" class="w-full" />
                                </div>
                            </div>
                            <br>
                            <div class="vx-row">
                                <div class="vx-col  w-full ">
                                    <vs-input placeholder="Seo Keyword" height="20px"  v-model="firstName" class="w-full" />
                                </div>
                            </div>
                            <br>
                            <div class="vx-row">
                                <div class="vx-col  w-full ">
                                    <vs-textarea label="Seo Description"  height="40px" v-model="firstName" class="w-full" />
                                </div>
                            </div>


                        </tab-content>
                        <!-- tab 3 content -->
                        <br>
                        <vs-button class="mr-3 mb-2">Submit</vs-button>
                        <vs-button color="warning" type="border" class="mb-2" @click="input1 = input2 = input3 = input4 = input4 = ''; check1 = false;">Reset</vs-button>
                    </form-wizard>
                </div>
            </vx-card>
        </div>
        

    </div>
</template>

<script>
export default {
    name: "add_product"
}
</script>

<style scoped>

</style>
