<template>
    <vx-card title="All Products" code-toggler>
        <vs-table :data="users">

            <template slot="thead">
                <vs-th>Sr#</vs-th>
                <vs-th>Image</vs-th>
                <vs-th>Title</vs-th>
                <vs-th>Platform</vs-th>
                <vs-th>Category</vs-th>
                <vs-th>View Variation</vs-th>
                <vs-th>Status </vs-th>
                <vs-th>Action</vs-th>
            </template>

            <template slot-scope="{data}">
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                    <vs-td :data="data[indextr].email">
                        {{data[indextr].email}}
                    </vs-td>
                    <vs-td :data="data[indextr].username">
                        {{data[indextr].name}}
                    </vs-td>
                    <vs-td :data="data[indextr].id">
                        {{data[indextr].website}}
                    </vs-td>
                    <vs-td :data="data[indextr].id">
                        {{data[indextr].id}}
                    </vs-td>
                </vs-tr>
            </template>
        </vs-table>
    </vx-card>
</template>

<script>
export default {
    name: "view_product"
}
</script>

<style scoped>

</style>
