<template>
    <div>
        <vx-card title="Add User" code-toggler>
            <div class="mt-5">
                <form finishButtonText="Submit" @on-complete="formSubmitted">
                    <tab-content title="Step 1" class="mb-5">

                        <!-- tab 1 content -->
                        <div class="vx-row">
                            <div class="vx-col md:w-1/2 w-full mt-5">
                                <vs-input label="Name" placeholder="Name" v-model="title" class="w-full" />
                                <p>{{title}}</p>
                            </div>
                            <div class="vx-col md:w-1/2 w-full mt-5">
                                <vs-input label="Email" placeholder="Email" v-model="title" class="w-full" />
                                <p>{{title}}</p>
                            </div>
                            <div class="vx-col md:w-1/2 w-full mt-5">
                                <vs-input label="Address" placeholder="Adssress" v-model="title" class="w-full" />
                                <p>{{title}}</p>
                            </div>
                            <div class="vx-col md:w-1/2 w-full mt-5">
                                <vs-input label="Phone no" placeholder="Phone no" v-model="title" class="w-full" />
                                <p>{{title}}</p>
                            </div>
                            <div class="vx-col md:w-1/2 w-full mt-5">
                                <vs-input label="Country" placeholder="Country" v-model="title" class="w-full" />
                                <p>{{title}}</p>
                            </div>
                            <div class="vx-col md:w-1/2 w-full mt-5">
                                <vs-input label="City" placeholder="City" v-model="title" class="w-full" />
                                <p>{{title}}</p>
                            </div>
                            <div class="vx-col md:w-1/2 w-full mt-5">
                                <vs-input label="Password" placeholder="Password" v-model="title" class="w-full" />
                                <p>{{title}}</p>
                            </div>
                            <div class="vx-col md:w-1/2 w-full mt-5">
                                <vs-input label="Confirm Password" placeholder="Confirm Password" v-model="title" class="w-full" />
                                <p>{{title}}</p>
                            </div>
                            <div class="vx-col  w-half mt-5">
                                <vs-input type="file" label="Image" v-model="iamge" @change="imageChanged" class="w-full" />
                            </div>
                            <div class="vx-col w-full mt-5">
                                <div class="vx-col w-full">
                                    <vs-textarea label="Description" v-model="description" class="w-full" />
                                </div>
                            </div>
                        </div>
                    </tab-content>
                    <!-- tab 3 content -->
                    <br>
                    <vs-button class="mr-3 mb-2" @click="submitForm()">Submit</vs-button>
                    <vs-button color="warning" type="border" class="mb-2" @click="input1 = input2 = input3 = input4 = input4 = ''; check1 = false;">Reset</vs-button>
                </form>
            </div>
        </vx-card>
        <br>
    </div>
</template>
